@model WeddingPlanner.Models.Caterer

@{
    ViewBag.Title = "Caterer";
}

<h2>Caterer</h2>

<div>
    <h4>Caterer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Venue Address Information
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
            @Html.DisplayFor(model => model.City)
            @Html.DisplayFor(model => model.Zip)
            @Html.DisplayFor(model => model.State)
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatererEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatererEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatererPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatererPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGBTQfriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGBTQfriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodIndian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodIndian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItalian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItalian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodChinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodChinese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodMediterranean)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodMediterranean)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodMexican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodMexican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodFrench)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodFrench)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodAmerican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAmerican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServesVegan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServesVegan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodAllergyOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAllergyOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerGuestEstimateLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerGuestEstimateLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerGuestEstimateHigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerGuestEstimateHigh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
