@model WeddingPlannerApp.Models.WeddingPackageViewModel

@{
    ViewBag.Title = "DeletePackage";
}

<h2>DeletePackage</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WeddingPackageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllowsDecor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowsDecor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyCelebrant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyCelebrant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyCatering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyCatering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyDJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyDJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGBTQFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGBTQFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServesCohabitants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServesCohabitants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KidFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KidFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelchairAccessible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelchairAccessible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodAllergyOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAllergyOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vegan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vegan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodIndian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodIndian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItalian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItalian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodChinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodChinese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodMediterranean)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodMediterranean)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodMexican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodMexican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodFrench)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodFrench)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodAmerican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAmerican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenrePop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenrePop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreRB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreRB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreRap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreRap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreRock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreRock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreDance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreDance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreTechno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreTechno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreMetal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreMetal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreInternational)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreInternational)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Judaism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Judaism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sikhism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sikhism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinduism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinduism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islamic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islamic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonDenominational)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonDenominational)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catholicism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catholicism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lutheranism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lutheranism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buddhism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buddhism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReligionOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReligionOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouplesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouplesId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Details")
        </div>
    }
</div>
