@model IEnumerable<WeddingPlannerApp.Models.CoupleViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Partner1FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner1LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner2FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner2LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupleStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupleEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouplePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeddingBudget)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Partner1FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner1LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner2FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner2LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoupleStreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoupleEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouplePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeddingBudget)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
