@model WeddingPlannerApp.Models.PackageViewModel

@{
    ViewBag.Title = "ConfirmContract";
}

<h2>ConfirmContract</h2>

<div>
    <h4>PackageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupleId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.ContractPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContractPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContractPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-actions no-color">
                <input type="submit" value="Confirm" class="btn btn-default" /> |
                @Html.ActionLink("Back", "Details")
            </div>
        </div>
    }
</div>
