@model WeddingPlannerApp.Models.Vendor

@{
    ViewBag.Title = "DecideVendorType";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="autoElement01 form-group" align="center">
            <p class="headerText">Select Your Vendor Type</p>
            @Html.LabelFor(model => model.VendorType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.VendorType, new List<SelectListItem> {
                new SelectListItem { Text = "DJ", Value = "DJ" },
                new SelectListItem { Text = "Venue", Value = "Venue" },
                new SelectListItem { Text = "Celebrant", Value = "Celebrant" },
                new SelectListItem { Text = "Caterer", Value = "Caterer" },
                new SelectListItem { Text = "Photographer", Value = "Photographer" }
                }, "--Select Your Service Type--")
                @Html.ValidationMessageFor(model => model.VendorType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="selectorHorizontal form-group" align="center">
            <span>
                <input type="submit" class="possibleSelection" color="white" value="Continue" />
            </span>
        </div>
    </div>
}