@model WeddingPlannerApp.Models.VendorViewModel
    <p>
        @if (User.IsInRole("Vendor") == true)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id, type = Model.VendorType })<text> |</text>
            @Html.ActionLink("Pending Contracts", "ShowPendingContracts")<text> |</text>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id, type = Model.VendorType })

        }
        else
        {
        <div class="selectorHorizontal" align="center">
            <a href="@Url.Action($"Index", new { type = Model.VendorType })">
            <span class="possibleSelection">
               Back
            </span>
    @*@Html.ActionLink("Back", "Details")*@
            </a>
        </div>

            @*@Html.ActionLink("Back", "Index", new { type = Model.VendorType })*@
        }
    </p>

@switch (ViewBag.VendorType)
{
    case "Venues":
        <div class="autoElement02" align="center">
            <p class="headerText">@Model.Name</p>

            <p class="tinyText">@Html.DisplayFor(model => model.VendorType)</p>

            <p class="headerText">Address Information:</p>
            @Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)<br />
            @Html.DisplayFor(model => model.Zip)<br />
            @Html.DisplayFor(model => model.Country)
            <p class="headerText">Contact Information:</p>
            @Html.DisplayFor(model => model.Email)<br />
            @Html.DisplayFor(model => model.Phone)
            @if (Model.Ceremony == true)
            {
                <p class="headerText">Venue Hosts Ceremonies</p>
            }
            @if (Model.Ceremony == true)
            {
                <p class="headerText">Venue Hosts Receptions</p>
            }
            @if (Model.ServesCohabitants == true)
            {
                <p class="headerText">Venue Will Serve Cohabitating Couples</p>
            }
            @if (Model.LGBTQFriendly == true)
            {
                <p class="headerText">Venue is LGBTQ Friendly</p>
            }
            @if (Model.KidFriendly == true)
            {
                <p class="headerText">Venue Is Kid Friendly</p>
            }
            @if (Model.PetFriendly == true)
            {
                <p class="headerText">Venue Is Pet/Animal Friendly</p>
            }
            @if (Model.HandicapAccessible == true)
            {
                <p class="headerText">
                    Venue Is Handicap Accessible
                </p>
            }
            @if (Model.AllowsDecor == true)
            {
                <p class="headerText">Venue Allows You To Bring Decor</p>
            }
            <p class="headerText">Religions Served:</p>
            @if (Model.Judaism == true)
            {
                <p>Judaism</p>
            }
            @if (Model.Sikhism == true)
            {
                <p>Sikhism</p>
            }
            @if (Model.Hinduism == true)
            {
                <p>Hinduism</p>
            }
            @if (Model.Islamic == true)
            {
                <p>Islam</p>
            }
            @if (Model.NonDenominational == true)
            {
                <p>Non-Denominational</p>
            }
            @if (Model.Catholicism == true)
            {
                <p>Catholicism</p>
            }
            @if (Model.Lutheranism == true)
            {
                <p>Lutheranism</p>
            }
            @if (Model.Buddhism == true)
            {
                <p>Buddhism</p>
            }
            @if (Model.ReligionOther == true)
            {
                <p>Other</p>
            }

            @if (Model.ProvidesLodging == true)
            {
                <p class="headerText">Venue Has On-Site Lodging Options</p>
            }
            @if (Model.ThirdPartyCelebrant == true)
            {
                <p class="headerText">Venue Allows 3rd Party Celebrants</p>
            }
            @if (Model.ThirdPartyCatering == true)
            {
                <p class="headerText">Venue Allows 3rd Party Catering</p>
            }
            @if (Model.ThirdPartyDJ == true)
            {
                <p class="headerText">Venue Allows 3rd Party DJs</p>
            }

            @*<dt>
                    @Html.DisplayNameFor(model => model.Caterers)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Caterers)
                </dd>
                </dl>*@
        </div>

        break;
    case "DJs":

        <div class="autoElement01" align="center">

            <p class="headerText">@Model.Name</p>

            <p class="tinyText">@Html.DisplayFor(model => model.VendorType)</p>

            <p class="headerText">Address Information:</p>
            @Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)<br />
            @Html.DisplayFor(model => model.Zip)<br />
            @Html.DisplayFor(model => model.Country)

            <p class="headerText">Contact Information:</p>
            @Html.DisplayFor(model => model.Email)<br />
            @Html.DisplayFor(model => model.Phone)
            @if (Model.LGBTQFriendly == true)
            {
                <p class="headerText">LGBTQ Friendly</p>
            }
            <p class="headerText">Music Genres Provided:</p>
            @if (Model.GenrePop == true)
            {
                <p> Pop </p>
            }
            @if (Model.GenreRB == true)
            {
                <p> R&amp;B </p>
            }
            @if (Model.GenreRap == true)
            {
                <p> Rap </p>
            }
            @if (Model.GenreRock == true)
            {
                <p> Rock </p>
            }
            @if (Model.GenreCountry == true)
            {
                <p> Country </p>
            }
            @if (Model.GenreDance == true)
            {
                <p>Dance</p>
            }
            @if (Model.GenreTechno == true)
            {
                <p> Techno </p>
            }
            @if (Model.GenreMetal == true)
            {
                <p>Metal</p>
            }
            @if (Model.GenreInternational == true)
            {
                <p>International</p>
            }
            @if (Model.GenreOther == true)
            {
                <p>Other</p>
            }

            @if (Model.DoesTravel == true)
            {
                <p class="headerText">Willing To Travel</p>
            }
        </div>


        break;
    case "Celebrants":

        <div class="autoElement01" align="center">

            <p class="headerText">@Model.Name</p>

            <p class="tinyText">@Html.DisplayFor(model => model.VendorType)</p>

            <p class="headerText">Address Information:</p>
            @Html.DisplayFor(model => model.Street)
            <br />
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
            <br />
            @Html.DisplayFor(model => model.Zip)
            <br />
            @Html.DisplayFor(model => model.Country)

            <p class="headerText">Contact Information:</p>
            @Html.DisplayFor(model => model.Email)<br />
            @Html.DisplayFor(model => model.Phone)
            @if (Model.LGBTQFriendly == true)
            {
                <p class="headerText">LGBTQ Friendly</p>
            }
            <p class="headerText">Religions Served:</p>
            @if (Model.Judaism == true)
            {
                <p>Judaism</p>
            }
            @if (Model.Sikhism == true)
            {
                <p>Sikhism</p>
            }
            @if (Model.Hinduism == true)
            {
                <p>Hinduism</p>
            }
            @if (Model.Islamic == true)
            {
                <p>Islam</p>
            }
            @if (Model.NonDenominational == true)
            {
                <p>Non-Denominational</p>
            }
            @if (Model.Catholicism == true)
            {
                <p>Catholicism</p>
            }
            @if (Model.Lutheranism == true)
            {
                <p>Lutheranism</p>
            }
            @if (Model.Buddhism == true)
            {
                <p>Buddhism</p>
            }
            @if (Model.ReligionOther == true)
            {
                <p>Other</p>
            }

            @if (Model.ServesCohabitants == true)
            {
                <p class="headerText">Will Serve Cohabitating Couples</p>
            }

            @if (Model.DoesTravel == true)
            {
                <p class="headerText">Willing To Travel</p>
            }

        </div>

        break;
    case "Caterers":
        <div class="autoElement01" align="center">
            <p class="headerText">@Model.Name</p>

            <p class="tinyText">@Html.DisplayFor(model => model.VendorType)</p>

            <p class="headerText">Address Information:</p>
            @Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)<br />
            @Html.DisplayFor(model => model.Zip)<br />
            @Html.DisplayFor(model => model.Country)
            <p class="headerText">Contact Information:</p>
            @Html.DisplayFor(model => model.Email)<br />
            @Html.DisplayFor(model => model.Phone)

            @if (Model.LGBTQFriendly == true)
            {
                <p class="headerText">LGBTQ Friendly</p>
            }
            <p class="headerText">Cuisines Served:</p>
            @if (Model.FoodIndian == true)
            {
                <p>Indian</p>
            }
            @if (Model.FoodItalian == true)
            {
                <p>Italian</p>
            }
            @if (Model.FoodChinese == true)
            {
                <p>Chinese</p>
            }
            @if (Model.FoodMediterranean == true)
            {
                <p>Mediterranean</p>
            }
            @if (Model.FoodItalian == true)
            {
                <p>Italian</p>
            }
            @if (Model.FoodChinese == true)
            {
                <p>Chinese</p>
            }
            @if (Model.FoodMediterranean == true)
            {
                <p>Mediterranean</p>
            }
            @if (Model.FoodMexican == true)
            {
                <p>Mexican</p>
            }
            @if (Model.FoodFrench == true)
            {
                <p>French</p>
            }
            @if (Model.FoodAmerican == true)
            {
                <p>American</p>
            }
            @if (Model.FoodOther == true)
            {
                <p>Other</p>
            }
            @if (Model.ServesVegan == true)
            {
                <p class="headerText">Provides Vegan Options</p>
            }
            @if (Model.FoodAllergyOptions == true)
            {
                <p class="headerText">Kitchen Is Food Allergy Adaptive</p>
                <p class="tinyText">(Contact for Specifics)</p>
            }
            <p class="headerText">Low End Per Guest Estimate</p>
            <p class="tinyText">(Contact for Specifics)</p>
            <p>$@Html.DisplayFor(model => model.PerGuestEstimateLow) Per Plate</p>
            <p class="headerText">High End Per Guest Estimate</p>
            <p class="tinyText">(Contact for Specifics)</p>
            <p>$@Html.DisplayFor(model => model.PerGuestEstimateHigh) Per Plate</p>

        </div>

        break;
    case "Photographers":

        <div class="autoElement01" align="center">

            <p class="superHeaderText">@Model.Name</p>

            <p class="tinyText">@Html.DisplayFor(model => model.VendorType)</p>

            <p class="headerText">Address Information:</p>
            @Html.DisplayFor(model => model.Street)
            <br />
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
            <br />
            @Html.DisplayFor(model => model.Zip)
            <br />
            @Html.DisplayFor(model => model.Country)

            <p class="headerText">Contact Information:</p>
            @Html.DisplayFor(model => model.Email)
            @Html.DisplayFor(model => model.Phone)
            @if (Model.LGBTQFriendly == true)
            {
                <p class="headerText">LGBTQ Friendly</p>
            }
            @if (Model.DoesVideo == true)
            {
                <p class="headerText">Records Video</p>
            }

            @if (Model.DoesEditing == true)
            {
                <p class="headerText">Provides Video Editing Services</p>
            }

            @if (Model.DoesTravel == true)
            {
                <p class="headerText">Willing To Travel</p>
            }
        </div>
        break;
    default:
        break;
}

<p>
    @if (User.IsInRole("Vendor") == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id, type = Model.VendorType })<text> |</text>
        @Html.ActionLink("Book Keep", "Bookkeeping", new { id = Model.Id })<text> |</text>
        @Html.ActionLink("Pending Contracts", "ShowPendingContracts")<text> |</text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id, type = Model.VendorType })
    }
    else
    {
<p>
    @{
        Html.RenderAction("GetPackage", new { id = Model.Id, type = Model.VendorType });
    }
</p>
        }


