@model WeddingPlannerApp.Models.VendorViewModel

<h2>Venue</h2>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@
        <dt>
            Venue Address Information
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.City)<br />
            @Html.DisplayFor(model => model.State)<br />
            @Html.DisplayFor(model => model.Zip)<br />
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VenueEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VenueEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VenuePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VenuePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LGBTQFriendly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LGBTQFriendly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KidFriendly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KidFriendly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HandicapAccessible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HandicapAccessible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judaism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judaism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sikhism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sikhism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hinduism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hinduism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Islamic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Islamic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonDenominational)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NonDenominational)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Catholicism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Catholicism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lutheranism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lutheranism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buddhism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buddhism)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReligionOther)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReligionOther)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServesCohabitants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServesCohabitants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ceremony)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ceremony)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reception)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reception)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidesLodging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidesLodging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowsDecor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowsDecor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyCelebrant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThirdPartyCelebrant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyCatering)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThirdPartyCatering)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyDJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThirdPartyDJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Caterers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Caterers)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
