@model WeddingPlannerApp.Models.PackageViewModel

@{
    ViewBag.Title = "GetOnePackage";
}

<h2>GetOnePackage</h2>

<div>
    <h4>PackageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPackage", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Details", new { id = Model.VendorId, type = Model.VendorType })
</p>
